@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.reset_table,
.reset_table table tr,
.reset_table tr td,
.reset_table table tbody,
.reset_table table thead,
.reset_table table tfoot,
.reset_table table tr th,
.reset_table table tfoot tr tf {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  background-image: none;
}
.text-black {
  color: #000 !important;
}
.main {
  /* display: flex;
  justify-content: center; */
  display: grid;
  grid-template-columns: 20% 80%;
}
.side-bar-left {
  display: block;
  transition: all 0.5s ease-in;
  animation: fadeIn ease 0.8s;
  animation: fadeInLeft ease 0.8s;
}

.content-right {
}
/* HEADER */
.header {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  width: 100%;
  padding: 15px;
  background-color: #eee;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "icon search account";
}
.btn-show {
  display: flex;
  align-items: center;
}
.btn-show__icon {
  font-size: 18px;
  cursor: pointer;
}
.header-search {
  padding: 10px;
  border: 1px solid rgb(207, 199, 199);
  border-radius: 10px;
  background-color: #fff;
}
.header-logo {
  text-align: center;
  margin-bottom: 30px;
}
.header-logo__link {
  display: inline-block;
}
.logo-img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  /* min-width: 480px; */
}
.data-list {
  position: absolute;
  width: 86%;
  height: auto;
  border-radius: 10px;
  list-style: none;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  left: 9px;
  display: none;
  margin-top: 8px;
}
.link-data {
  display: inline-block;
  font-size: 12px;
  text-decoration: none;
  color: #000;
}
.search-icon {
  font-size: 20px;
  font-weight: 300;
}
.search-box__input,
.search-item__input {
  position: relative;
  display: block;
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
  font-weight: 300;
  margin-left: 10px;
}
.header-right {
  width: 320px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-avatar__link,
header-notification__link {
  text-decoration: none;
}
.header-avatar__icon,
.header-notification__icon {
  font-size: 20px;
  color: #000;
}
.header-user__username {
  font-size: 20px;
  color: #000;
}
.header-user__desc {
  font-size: 16px;
  color: rgb(31, 29, 29);
}

/* BODY */
.container {
  display: flex;
  width: 100%;
  height: 100vh;
}
/* MENU */
.menu-left {
  width: 100%;
  height: 100vh;
  background-color: #2d404a;
  padding: 20px 10px;
  position: sticky;
  left: 0;
  top: 0;
}
/* MENU SEARCH BAR */
.menu-left__search {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(207, 199, 199);
  border-radius: 10px;
  background-color: #fff;
}
.menu-left__item-box {
  display: flex;
  justify-content: space-between;
}
.menu-left__item-logo-icon,
.menu-left__item-option-icon,
.log-out__icon {
  font-size: 18px;
  color: #fff;
}
.menu-left__item-text {
  margin-right: 30%;
}
.menu-left__item-link {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  font-weight: 200;
}
.menu-left__item-link:hover,
.menu-left__item-option-icon:hover,
.menu-left__item-logo-icon:hover {
  transition: all linear 0.2s;
  opacity: 0.6;
  cursor: pointer;
}
/* MENU OPTION */
.menu-left__option {
  margin-top: 20px;
}
.menu-left__list {
  list-style: none;
}

.menu-children-list {
  list-style: none;
}
.menu-left__item-option {
  position: relative;
}
.menu-left__item:hover .menu-children {
  display: block;
  transition: all linear 0.5s;
  opacity: 1;
}
.menu-left__item:hover .menu-left__item-option-icon {
  transform: rotate(-90deg);
  transition: all linear 0.4s;
}
.menu-children {
  position: absolute;
  width: 200px;
  left: 19px;
  top: 0;
  display: none;
  background-color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.menu-children::before {
  display: inline-block;
  content: "";
  position: absolute;
  width: 180px;
  left: -160px;
  top: 0;
  height: 42px;
}
.menu-children-link {
  display: block;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  margin-bottom: 6px;
  border-bottom: 1px solid #ccc;
}

.log-out {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 6px auto;
}
.log-out__text {
  text-decoration: none;
  color: #fff;
  display: block;
  margin-left: 4px;
}
/* CONTENT BODY */
.content {
  width: 100%;
  padding: 16px 20px;
  overflow-y: scroll;
}
.title {
  margin: 10px 8px;
}
.group-btn {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.btn:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: all linear 0.5s;
}
.btn.btn-nonactive {
  opacity: 1;
  cursor: not-allowed;
}
.btn-fill {
  background-color: #2d404a;
}
.btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  padding: 4px;
  border: 1px solid #2d404a;
  border-radius: 20px;
}
.btn-detail {
  border: 1px solid;
  border-radius: 8px;
  outline: none;
  background-color: rgb(216, 77, 12);
  cursor: pointer;
  padding: 2px;
  text-align: center;
  color: #ccc;
}
.btn-detail:hover {
  opacity: 0.8;
}
.btn-icon {
  font-size: 18px;
  margin-right: 4px;
}
.btn-block {
  margin: 8px 4px;
}
.form-group {
  /* display: flex;
  margin: 16px 0; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.input-text {
  display: block;
  margin: 8px 0;
  min-width: 100%;
  padding: 8px 8px;
  border: 1px solid rgb(110, 106, 106);
  border-radius: 6px;
  outline: none;
}
.label-group {
  margin-right: 4px;
}
.label-input {
  font-size: 16px;
  color: rgb(20, 19, 19);
  font-weight: 400;
}
.table-data {
  border: 1px solid;
  font-size: 18px;
  text-align: center;
}
.table-data th {
  color: #fff;
  border-right: 1px solid #fff;
  background-color: #2d404a;
  padding: 4px;
}
.table-data tr {
  border-bottom: 1px solid;
}
.table-data tr:nth-child(even) {
  background-color: #f2f2f2;
}
.table-data tr td {
  border-right: 1px solid;
  padding: 4px 0;
}
.table-data tr .list-checkbox {
  padding: 0 10px;
}

.table-last-data {
  position: relative;
}
.table-last-data:hover .action-box {
  display: block;
  cursor: pointer;
}

.action-box {
  position: absolute;
  right: 30px;
  top: 0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  display: none;
  transition: all ease-in 0.4s;
  cursor: pointer;
}
.action-box::before {
  content: "";
  position: absolute;
  right: -14px;
  top: 0;
  height: 20px;
  width: 100%;
}
.action-edit,
.action-delete {
  display: flex;
  align-items: center;
  /* width: 50px; */
  padding: 6px;
  border-radius: 8px;
  margin: 4px 0;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}
.action-edit:hover,
.action-delete:hover {
  opacity: 0.8;
  transition: all linear 0.3s;
  cursor: pointer;
}
.action-edit {
  background-color: #2d404a;
}
.action-delete {
  background-color: crimson;
}
/* FOOTER */
.footer {
  width: 100%;
  text-align: center;
}

#toast {
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 999;
}

.toast {
  display: flex;
  align-items: center;
  padding: 20px 0;
  min-width: 400px;
  max-width: 450px;
  background-color: #fff;
  border-radius: 2px;
  border-left: 4px solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  transition: all linear 0.4s;
}

.list-row {
  transition: all 0.5s ease-in;
  animation: fadeIn ease-in 0.8s;
  animation: fadeInLeft ease 0.8s;
  /* animation: fadeOut ease-out 0.8s; */
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}

.toast + .toast {
  margin-top: 24px;
}

.toast__icon {
  font-size: 24px;
}

.toast__icon,
.toast__close {
  padding: 0 16px;
}

.toast__body {
  flex-grow: 1;
}

.toast__title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.toast__message {
  font-size: 14px;
  color: #888;
  margin-top: 6px;
  line-height: 1.5;
}

.toast__close {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.toast--success {
  border-color: #47d764;
}

.toast--success .toast__icon {
  color: #47d764;
}

.toast--info {
  border-color: #2f86eb;
}

.toast--info .toast__icon {
  color: #2f86eb;
}

.toast--warning {
  border-color: #ffc021;
}

.toast--warning .toast__icon {
  color: #ffc021;
}

.toast--error {
  border-color: #ff623d;
}

.toast--error .toast__icon {
  color: #ff623d;
}

.btn-group {
  width: 100vh;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  border-radius: 20px;
  padding: 8px 16px;
  color: #fff;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.btn:hover {
  opacity: 0.8;
}

.btn.btn--success {
  background-color: #47d764;
}
.btn.btn--danger {
  background-color: #ff623d;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
